* {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 650px;
  margin: 20px auto;
  background-color: aqua;
}
/* 
#judul {
  text-align: center;
  color: white;
  background-color: red;
}

.p2 {
  font-weight: bold;
  color: white;
  background-color: green;
}

ul li:nth-child(3) {
  font-weight: bold;
  color: white;
  background-color: brown;
}

.list:nth-child(2) {
  font-weight: bold;
  color: white;
  background-color: orange;
} */
